/* univeral css begins here */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: transform 0.3s ease;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}/* universal css ends here */

/* body css begins here */
body {
    font-family: monospace, Courier, monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    background-color: #F8E8EE;   /*    F8E8EE    */
    
    /* margin-bottom: 1000px; */
}/* body css ends here */


/* header begins here */
header {
    position: sticky;
    top: 0;
    z-index: 1;             /* navbar fixed upto here*/
    background-color: #FB7DA8;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;  
    margin: auto;
    /* border-bottom: 1px solid rgba(0,0,0,0.1); */
    .logo-holder {
        display: flex;
        align-items: center;
    }
    & img {
        height: 64px;
        margin-left: 10px;
    }
    nav {
        display: flex;
        align-items: center;
        margin-right: 10px;
        ul {
            display: flex;
            list-style-type: none;
            gap: 5px;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    padding: 10px 20px;
                    background-color: #058CD7;
                    border-radius: 30px;
                    color: #FAFAFA;
                    &:hover {
                        background-color: #552CB7;
                        border-radius: 30px;
                        text-decoration: none;
                    }
                }
            }
        }                                 
        .mobile-toggle {
            display: none;
            color:rgba(0, 0, 0, 1);
            padding: 10px;
            @media (max-width: 768px){
                display: inline-block;
                position: absolute;
                top: 20px;
                right: 20px; 
            }
        }
    }
    @media (max-width:1024px) {
        position: static;   /* Remove sticky position */
        top: auto;          /* Reset top to default */
        z-index: auto;      /* Reset z-index to default */
        flex-direction: column;
        gap: 10px;
        align-items: center;
        & img {
            margin-left: 0;
        }        
        nav {
            margin-right: 0;
        }
    }

    @media (max-width:768px) {
        position: static;   /* Remove sticky position */
        top: auto;          /* Reset top to default */
        z-index: auto;      /* Reset z-index to default */
        flex-direction: column;
        align-items: center;
        nav {
            margin-top: 10px;
            width: 100%;
            ul {
                display: none;
                flex-direction: column;
                text-align: center;
                width: 100%;
                a {
                    width: 100%;
                }
                &.active {
                    display: flex;

                }
            }
        }
        & img{
            margin-left: 0;
        }
    }

}/* header tag ends here */
 
.container {
    max-width: 1440px;
    margin: auto;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width:1440px){
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* All buttons are here */
.button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #00995E;
    color: #FAFAFA;
    border-radius: 10px;
    transition: ease 0.3s all;
    &:hover {
        text-decoration: none;
        background-color: #552CB7;
    }

    &.white {
        background-color: #00995E;
        color: #FAFAFA;
        &:hover{
            background-color: #552CB7;
        }
    }
    &.black {
        background-color: #058CD7;
        color: white;
        &:hover {
            background-color: #552CB7;
        }
        
    }
}

h1 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
    small{
        display: block;
        font-weight: 100;
    }
    @media (max-width:1024px) {
        font-size: 48px;
    }
}


.profile {
    display: flex;
    @media (max-width:1024px) {
        flex-direction: column;
    }
    .my-blue {
        flex: 1;
        background-color: #F4E1D2;
        border-radius: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
            @media (max-width:768px) {
                display: none;
            }
        }
        .call-to-action {
            margin-top: 20px;
            margin-bottom: 10px;
            a {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
        .social-links {
            a {
                &:hover {
                    text-decoration:none; 
                }
            }
            & img {
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
    .my-dp {
        flex:1;
        background-color: #E5A8C1;
        border-radius: 30px;
        padding: 0px 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        .social-media {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px 30px;
            justify-content: center;
            border-left: 2px solid rgba(0,0,0,0.1);
            align-items: center;
            & img {
                width: 50px;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}

.logos {
    background-color: #f7cbd9;
    border-radius: 30px;
    padding: 30px 0px;
    @media (max-width:1440px) {
        border-radius: 0px;
    }
    .marquee {
        width: 100vw;
        max-width: 100%;
        height: 128px;
        overflow: hidden;
        position: relative;
        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 60s linear infinite;
            display: flex;
            gap: 10px;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

p{
    line-height: 1.2;
} /* line hight here */

h2 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    color: #e08da8;
    padding: 30px;
    small {
        display: block;
        font-weight: 100;      
        font-size: 0.5em;
        color: #f5a2bc;
    }
    @media (max-width:1024px){
        font-size: 48px;
    }
}
h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px ;
    color: #e08da8;
}

.skills {
    .holder-blue {
        background-color: #fff1f5;
        border-radius: 30px;
        padding: 30px;
        display: flex;
        @media (max-width:1024px) {
            flex-direction: column;
        }
        .left-column {
            flex: 1;   
            ul {
                list-style: none;
                gap: 10px;
                margin-right: 100px;
                margin-bottom: 20px;
                li {
                    display: inline-block;
                    background-color: rgb(206, 170, 240);
                    padding: 10px 20px;
                    border-radius: 15px;
                    margin-bottom: 10px;
                }
            } 
        }
        .right-column {
            flex: 1;
        }
    }
}

.bento {
    .bento-grid {
        display: grid;
        grid-gap: 30px;
        grid-template-columns:repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: 960px;
        @media (max-width:1024px) {
            grid-template-rows: repeat(8, 1fr);
        }
        @media (max-width:768px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
            height: auto;
        }
        .bento-item{
            padding: 30px;
            background-color: rgb(250, 185, 185);
            border-radius: 15px;
            position: relative;
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                object-fit: cover;
                transition: ease 1s all;
            }
            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
            @media (max-width:768px) {
                height: 240px;
            }
            &:nth-child(1){
                grid-column: span 2;
                grid-row: span 2;
                @media (max-width:1024px) {
                    grid-column: span 2;
                    grid-row: span 2;
                }
            }
            &:nth-child(2){
                grid-column: span 2;
                grid-row: span 1;
                @media (max-width:1024px) {
                    grid-column: span 3;
                    grid-row: span 2;
                }
            }
            &:nth-child(3){
                grid-column: span 1;
                grid-row: span 1;
                @media (max-width:1024px) {
                    grid-column: span 3;
                    grid-row: span 2;
                }
            }
            &:nth-child(4){
                grid-column: span 1;
                grid-row: span 1;
                @media (max-width:1024px) {
                    grid-column: span 2;
                    grid-row: span 4;
                }
            }
            &:nth-child(5){
                grid-column: span 2;
                grid-row: span 1;
                @media (max-width:1024px) {
                    grid-column: span 3;
                    grid-row: span 2;
                }
            }
            &:nth-child(6){
                grid-column: span 5;
                grid-row: span 3;
                @media (max-width:1024px) {
                    grid-column: span 5;
                    grid-row: span 2;
                }
            }
        }
    }
}
